TZ=Asia/Shanghai

UI_PORT=80
APP_PORT=9000

ZZYL_ADMIN_IMAGE=registry.cn-hangzhou.aliyuncs.com/example/zzyl-admin:latest
ZZYL_UI_IMAGE=registry.cn-hangzhou.aliyuncs.com/example/zzyl-ui:latest

MYSQL_PORT=3306
MYSQL_DATABASE=zzyl
MYSQL_ROOT_PASSWORD=change_me_mysql_root
MYSQL_APP_USER=zzyl
MYSQL_APP_PASSWORD=change_me_mysql_app
MYSQL_URL=jdbc:mysql://zzyl-mysql:3306/zzyl?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=false&serverTimezone=Asia/Shanghai
MYSQL_USERNAME=zzyl
MYSQL_PASSWORD=change_me_mysql_app

REDIS_PORT=6379
REDIS_HOST=zzyl-redis
REDIS_PASSWORD=change_me_redis
REDIS_DATABASE=2

APP_LOG_DIR=/data/zzyl/logs
APP_PROFILE_DIR=/data/zzyl/uploadPath
RUOYI_PROFILE=/data/zzyl/uploadPath

TOKEN_SECRET=change_me_token_secret
TOKEN_EXPIRE_TIME=3600
DRUID_LOGIN_USERNAME=ruoyi
DRUID_LOGIN_PASSWORD=change_me_druid
DEPT_NURSING_ID=201

ALIYUN_OSS_DOMAIN=oss-cn-hangzhou.aliyuncs.com
ALIYUN_OSS_ENDPOINT=https://oss-cn-hangzhou.aliyuncs.com
ALIYUN_OSS_BUCKET=change-me-bucket
ALIYUN_OSS_REGION=cn-hangzhou
ALIYUN_OSS_ACCESS_KEY_ID=change_me_oss_key
ALIYUN_OSS_SECRET_ACCESS_KEY=change_me_oss_secret

BAIDU_ACCESS_KEY=change_me_baidu_key
BAIDU_SECRET_KEY=change_me_baidu_secret
BAIDU_QIANFAN_MODEL=ERNIE-4.0-8K

WECHAT_MINI_PROGRAM_APP_ID=change_me_wechat_appid
WECHAT_MINI_PROGRAM_SECRET=change_me_wechat_secret

HUAWEI_CLOUD_AK=change_me_huawei_ak
HUAWEI_CLOUD_SK=change_me_huawei_sk
HUAWEI_CLOUD_REGION_ID=cn-east-3
HUAWEI_CLOUD_ENDPOINT=change_me_huawei_endpoint
HUAWEI_CLOUD_PROJECT_ID=change_me_huawei_project_id
HUAWEI_CLOUD_AMQP_HOST=change_me_huawei_amqp_host
HUAWEI_CLOUD_AMQP_ACCESS_KEY=change_me_huawei_amqp_access_key
HUAWEI_CLOUD_AMQP_ACCESS_CODE=change_me_huawei_amqp_access_code
HUAWEI_CLOUD_AMQP_QUEUE_NAME=DefaultQueue
